:root {
    --side: 16;
}

.container {
    display: grid;
    background-color: lightslategray;
    height: 400px;
    grid-template-columns: repeat(var(--side), 1fr);
    grid-template-rows: repeat(var(--side), 1fr);
    gap: 1px;
    
}

.cell {
    background-color: whitesmoke;
}

/* .cell:hover{
    background-color: lime;
} */